<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon" />
    <title>Login</title>
    <script src="/js/login.js" defer></script>
  </head>
  <body>
    <h1>Entrar al sistema</h1>
    <form id="login">
      <input type="email" id="correo" placeholder="Correo" required />
      <input type="password" id="clave" placeholder="Clave" required />
      <button type="submit">Iniciar sesion</button>
    </form>

    <div>
      <a href="/crear-usuario">Crear usuario</a>
    </div>
    <div id="mensaje"></div>
  </body>
</html>
